@{
    ViewData["Title"] = "Home Page";
}

<div >
    <ol >
        @foreach (var item in Model.GetCollection())
        {
            <li>
                @item;
            </li>
        }
    </ol>
    
</div>
